<div class="container">
    <div class="card my-2">
        <div class="card-header bg-primary text-white">
            {{forecast.address}}
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>cucc</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
