  
  <div  *ngFor="let day of days">
    <div class="title">One-day forecast:</div>

    <div class="scroll-container">
    <div class="card d-inline-block m-1" *ngFor="let hour of day.hours">
      <div class="card-header">{{hour.datetime.slice(0, 5)}}</div>
      <div class="card-body">
      <div>Expected temperature: <br><span class="temp">{{hour.temp}} °C</span></div>
      <div>Amount of precipitation: <br><span class="precip">{{hour.precip}} cm</span></div>
      <div>Not expected: <br><span class="precip">{{hour.preciptype || "Not expected"}}</span></div>
    </div>
    </div>
    </div>
  </div>