<form>
    <legend>Adja meg a városát és válassza ki az előrejelzés hosszát!</legend>
    <input type="text" placeholder="Város keresése" #city>
    <button type="button" (click)="onSearch()">Keresés</button>
<fieldset class="radio">
    <div class="forecast" [ngClass]="{'selected': !isSelected}"
    (click)="selectOption()">
    <input type="radio" id="daily" name="forecast" value="1">
    <label for="daily">Egy napos előre jelzés</label>
</div>
<div [ngClass]="{'selected': isSelected}"
(click)="selectOption()">
    <input type="radio" id="weakly" name="forecast" value="7">
    <label for="weakly">Egy hetes előre jelés</label>
</div>
</fieldset>
</form>