form{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    backdrop-filter: blur(20px);
    opacity: 0.9;
    height: auto;
    width: 40%;
    
}
button{
    display: inline-block;
    padding: 0.65rem 1.35rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    background-color: #1042b0;
    color: white;
    border: none;
    top:50%;
}
button:hover{
    background-color: #0c2864;
}
input[type=text]{
    padding: 0.65rem;
    border:none;
    border-radius: 0.25rem;
    font-size: 1rem;
    margin-top:10%;
    width: 60%;
}
fieldset{
    border: none;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: 1em auto 2em;
}
fieldset.radio>div{
    padding:0.5em;
    border-radius: 0.25rem;
    
}
input[type="radio"]{
    display: none;
}
.selected{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    font-size: large;
}
legend{
    color:white;
    font-size: 1.3em;
    border-radius: 1rem  1rem 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1em 0.3em;
}

@media only screen and (max-width: 750px) {
    form{
        top: 65%;
        left:50%;
        width: 80%;
        height: 350px;
        margin-top:2em;
    }
}