* {
    /* A teljes layout-nak flexet használni mindenhol nem mindig jó ötlet, 
       ha nincs rá szükség, inkább vedd ki */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

.header {
    position: fixed; /* A header fixen marad a képernyő tetején */
    top: 1%; /* A header a képernyő tetején helyezkedjen el */
    left: 1%;
    width: 98%; /* Az egész szélességet lefedje */
    padding: 1em 2em;
    background-color: transparent; /* Alapértelmezett átlátszó háttér */
    display: flex;
    justify-content: space-between; /* A logó és a többi tartalom megfelelő elhelyezése */
    align-items: center;
    z-index: 1000; /* A header legyen legfelül */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Animáció a görgetésre */
    border-radius: 1em;
}

/*.logo {
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;

}*/
.logo {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: auto;
}

.logo img {
    max-height: 100px; /* Set the max height of the logo */
    margin-right: 2em;
}

.logo h2 {
    font-size: 3em;
    font-weight: bold;
    margin: auto;
    color: #1f1f1f; /* Customize the text color */
    font-style: italic;
}

a {
    text-decoration: none; /* Removes the underline from the text */
    z-index: 1010;
}


.scrolled, .header:hover {
    /*background-color: rgba(23, 153, 153, 0.1);*/
    background-color: rgba(255, 255, 255, 0.2); /* A görgetés hatására megjelenő háttér */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Árnyék a görgetéskor */
    border-radius: 1em; /* Lekerekített sarkok */
    backdrop-filter: blur(20px); /* Homályosító hatás */
    opacity: 0.9;
}

img, a{
    height: 100px;
    width: auto;
}
a{
    display: flexbox;
}

