
*{
    /*margin: 1em;*/
    padding: 0;
    box-sizing: border-box; /* Globális stílus a margin és padding eltávolítására */
}

/*main{
    margin-top: 5em;
    position: sticky;
    height: 1000px;
    /*background-color: rgb(23, 153, 153, 0.1);*/
    /*background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.3);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    opacity: 0.9;
    border-radius: 1em;
    z-index: auto;
}*/
main{
    
}
.scroll-arrow {
    font-size: 2rem;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    color: #007bff;
    position: absolute;
    z-index: 1;
    transition: opacity .3s ease,
    display .3s ease allow-discrete;
  }
  
  .scroll-arrow:hover {
    color: #0056b3;
    scale: 1.1;
  }
  .scrolled{
    display: none;
  }

