<app-header class="header"></app-header>
<main>
    <app-video></app-video>
    
    <app-filter (valueSelected)="selectedValue = $event" (citySelected)="selectedCity=$event"></app-filter>
    <app-present [city]="selectedCity"></app-present>
    <div [class.scrolled]="isScrolled" class="scroll-arrow" (click)="scrollToSection()">
        ⬇️
      </div>
    <div id="target-section">
    @if(selectedValue==="1"){<app-forecast [city]="selectedCity"></app-forecast>}
    @else if(selectedValue==="7"){<app-one-week [city]="selectedCity"></app-one-week>}
    @else if(selectedValue==="14"){<app-two-weeks [city]="selectedCity"></app-two-weeks>}
</div>
</main>
<!--<app-footer class="footer"></app-footer>-->