<div class="title">Két hetes előre jelzés:</div>
<div class="scroll-container">
    <div *ngFor="let day of days">
        <div class="card d-inline-block m-1">
          <div class="card-header">{{day.datetime}}</div>
          <div class="card-body">
          <div>Maximális hőmérséklet: <br><span class="temp">{{day.tempmax}} °C</span></div>
          <div>Minimális hőmérséklet: <br><span class="temp">{{day.tempmin}} °C</span></div>
          <div>Csapadék mennyisége: <br><span class="precip">{{day.precip}} cm</span></div>
          <div>Csapadék típusa: <br><span class="precip">{{day.preciptype || "Nem várható"}} </span></div>
        </div>
        </div>
        </div>
      </div>
    
